<button (click)="this.studentService.sortByAsccending()">正序排列</button>
<button (click)="this.studentService.sortByDesccending()">倒序排列</button>
<button (click)="this.studentService.sortByRadom()">随机打乱</button>
<button (click)="this.studentService.deleteLast()">删除最后一个</button>
<table>
  <tbody>
    <tr>
      <th>学号 </th>
      <th>姓名 </th>
      <th>年级院系 </th>
      <th>科目一 </th>
      <th>科目二 </th>
      <th>科目三 </th>
    </tr>
  </tbody>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{student.stdno}}</td>
      <td>{{student.name}}</td>
      <td>{{student.department}}</td>
      <td>{{student.exam1}}</td>
      <td>{{student.exam2}}</td>
      <td>{{student.exam3}}</td>
      <td><a routerLink="edit" (click) = "edit(student)">编辑</a></td>
    </tr>
  </tbody>
</table>
