<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
<h1>{{title}}</h1>
</div>

<div class="row">
<div class="col-3 col-m-3 menu">
<ul>
<li><a routerLink="home">Home</a></li>
<li><a routerLink="about">About</a></li>
<li><a routerLink="add">添加学员</a></li>
<li><a routerLink="query">查询学员</a></li>
<li><a routerLink="edit">修改学员</a></li>
</ul>
</div>
<div class="col-9 col-m-9 main-container">
<router-outlet></router-outlet>
</div>
</div>
<div class="footer">
<p>This is a footer</p>
</div>

