<div>学号：<input  type="text" [(ngModel)] = "student.stdno" /></div>
<div>姓名： <input readonly type="text"  [(ngModel)] = "student.name" /></div>   
<div>年级院系： <input readonly type="text"  [(ngModel)] = "student.department" /></div> 
<div>科目一： <input readonly type="text"  [(ngModel)] = "student.exam1" /></div> 
<div>科目二： <input readonly type="text"  [(ngModel)] = "student.exam2" /></div> 
<div>科目三： <input readonly type="text"  [(ngModel)] = "student.exam3" /></div>    
<button (click)="query()">查询</button>
